<% @article.comments.each do |comment| %>
  <% unless comment.archived? %>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= comment.comment %>
    </p>
    <div>
      <%= link_to "Delete", [comment.article, comment], method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
<% end %>